


/* Shared styles for sections */
.sport {
  width: 320px;
  background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
}

.basketball {
  padding: 33px;
}

.basketball h2 {
  margin-bottom: 10px;
}

.basketball p {
  line-height: 1.6;
  /* line-height: 25px; */
}

/* Improvements */
#sports {
  padding: 35px;
}

