/* Reset => Universal Selector */ 
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Sports */
#sports {
  background-color: #f8f8f8;

  display: flex;

  justify-content: space-evenly; /* main axis */
  align-items: center; /* cross axis */
}

/* Improvements */
#sports {
  padding: 35px;
}